.video-js .vjs-big-play-button {
    height: 3.4em;
    width: 3.4em;
    border-radius: 50%;
    transform: translate(0,-40%);
    border: 4px solid white;
    background-image: url(../assets/videoplay.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 30px;
}
.vjs-paused .vjs-big-play-button {
    display: block;
}