.video-js .vjs-big-play-button {
    height: 3.4em;
    width: 3.4em;
    border-radius: 50%;
    transform: translate(-11%,-31%);
    border: 4px solid white;
    background-image: url(../assets/videoplay.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 60%;
    outline: none;
}
.vjs-paused .vjs-big-play-button {
    display: block;
}
.vjs-icon-placeholder::before {
    display: flex;
    justify-content: center;
    align-items: center;
}
.vjs-playback-rate > .vjs-menu-button, .vjs-playback-rate .vjs-playback-rate-value {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: none;
}